body {
  background-color: black;
  .App {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    .App-header {
      height: 100hv;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .info {
        padding: 100px;
        display: flex;
        justify-content: flex-start;
      }
      .clock-weather-btn {
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
          position: relative;
          cursor: pointer;
          padding: 20px;
          font-weight: 700;
          border: none;
          text-align: left;
          width: 146px;
          height: 56px;
          color: rgba(48, 48, 48, 1);

          background-color: rgba(255, 255, 255, 1);
          border-radius: 35px;
          .arrow {
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 30px !important;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: rgba(48, 48, 48, 1);
            position: absolute;
            right: 12px;
            top: 9px;
          }
          .rotated {
            transform: rotate(180deg);
          }
        }
      }

      .active {
        transform: translateY(-40%);
      }
    }
  }
}
.showmore-info {
  display: flex;
  justify-content: space-evenly;
  bottom: 0; /* Position it at the bottom of the container */
  transform: translateY(100%); /* Start position - off-screen */
  width: 100%;
  height: 350px;
  background-color: rgb(5, 5, 5);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.showmore-info.active {
  opacity: 70%;
}

.clock-weather-btn-info {
  display: flex;
  flex-direction: column;
}

.Clock {
  span {
    font-size: medium;
  }
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 700;
  font-size: 200px;
  color: rgba(255, 255, 255, 1);
}
p {
  font-weight: 700;
  font-size: 24px;
 
}
.year-time-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: left;
}
h2 {
  font-size: 56px;
  margin: 0;
}
.weather {
  color: rgba(255, 255, 255, 1);
  
}
