body {
    margin: 0;
    padding: 0;
    background-image: url('../public/images/backimage.png'); /* Adjust the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 

    .Clock{
      font-weight: 700;
      font-size: 200px;
      color: rgba(255, 255, 255, 1);
      ;
    }
  }